.heading{
    width: 50%;
    margin: 30px auto;
    text-align: center;
    color: rgb(241, 233, 222);
    background-color: rgb(196, 78, 62);
    border: 2px solid #686868;
    border-radius: 20px;
    font-family: Lucida Sans ;
}

form{
    width: 50%;
    margin:30px auto;
    background-color: burlywood;
    padding: 10px;
    border: 1px;
    border-radius: 5px;
}

form p{
    color: #d40606;
    margin: 0px;
}

.task_input{
    width: 73%;
    height: 15px;
    padding: 10px;
    border: 2px #686868;
}

.task_btn{
    height: 39px;
    border: 2px #686868;
    padding: 5px 20px;
    border-radius: 5px;
    color: brown;
    background-color: darksalmon;
}

table{
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid #000000;
}

thead{
    font-size: 19px;
    color: rgb(48, 95, 2);
    font-family: Cambria, Cochin;
}

thead,td{
    border: none;
    height: 30px;
    padding: 2px;
    font-family: Calibri;
}

tr :hover{
background: #cccaca;
}

.task{
    text-align: left;
}

.delete , .action{
    text-align: center;
    width: 15%;
}
.delete a{
    background: #fc4c4c;
    padding: 1px 6px;
    border-radius: 3px;
    text-decoration: none;
}